<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Samir Moghul Portfolio</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="navbar" width="100%" height="100px">
    <div id="my_name"><i class="fab fa-fly"></i> Samir Moghul</div>
    
    
    <p id="nav-menu"><a href="./index.html">Home</a>
        <a href="./html/my_resume.html">Resume </a>
        <a href="./html/my_fun_facts.html">Fun_facts About Me</a>
        <a href="./html/my_blog.html">Blog</a>
    </p>
           
    </div>
    <img src="./img/Samir.jpg" width="300px" height="200px" id="my_Img">
    <h5>&nbsp;&nbsp;&nbsp;&nbsp; Don't count the days, make the days count. <br> &nbsp;&nbsp;&nbsp;&nbsp;’ Muhammad Ali ’</h5><br>

    <p> Hello! Thanks for clicking on my page, my name is Samir Moghul <br> and I am a student and IT intern at Calysto Group. <br><br>I am from Michigan and have been living here all my life. <br>I would like to go into IT field as I have had some experience at <br>internships that made me want to pursue a degree and job in that field.<br> I have also worked as a Business Manager Assistant and worked several <br>jobs in the healthcare field mostly working in billing.<br> To know more about me, check out my <a href="./html/my_resume.html">Resume</a> and my <a href="./html/my_fun_facts.html">Fun_fact page</a></p>
    
    <label for="file">Course Credits:</label>
    <progress id="file" value="58" max="130"> 58% </progress>
    <hr>

    <div class="footer">
        <p>Email: Samir.moghul@gmail.com</p>
         <p>Youtube: https://www.youtube.com/channel/UC8xY1RuFCZS-xtiPkiX6_bQ Discord: sammyツ#6854</p>
    </div>


</body>
</html>