<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Samir Moghul Portfolio</title>
    <link rel="stylesheet" href="../css/blog.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
  <div class="navbar" width="100%" height="100px">
    <div id="my_name"><i class="fab fa-fly"></i> Samir Moghul</div>
    
    
    <p id="nav-menu"><a href="../index.html">Home</a>
        <a href="./my_resume.html">Resume </a>
        <a href="./my_fun_facts.html">Fun_facts About Me</a>
        <a href="my_blog.html">Blog</a>
    </p>
           
    </div>
    <div id="blog-container">
        <h1 class="blog-header">Arcane (TV Series)</h1>
        <div class="blog">
            <div class="blog-media">
                <iframe src="https://www.youtube.com/embed/fXmAurh012s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <div class="blog-post">
                <p>
                    Arcane is a Netflix Series created by Riot Games based around their worldly renown game, League of Legends. The show involves multiple in-game characters that are brought into the show with origin stories from when they were children. 
                </p>
                <p>
                    The show has only released 3 episodes so far and I have given it a very high rating of 9.6 out of 10. The animations alone are breathtaking and a lot of art and animated work has gone into each scene. It is a very good quality for an animated show and the story line is very humane and relatable with emotions and feelings from the characters. 
                </p>
                <p>
                    The two main characters we start with are Powder and Vi, two sisters who were raised by their deceased parents’ close friend and protector, Vander. They are two wild characters being raised in an underground-type world, in an area called The Lanes. They live opposite lives of those who live on the other side of a bridge connecting to a city named Piltover, which is very fancy and upper class, a life none of which Vi or Powder know of. 
                </p>
                <p>
                    The underground was built by their father, Vander, and he took the girls in when a war broke out between the topside and the undergrounders which resulted in the death of the girls’ parents. He vows to keep them safe at all costs but we see the story take a few turns in which he has to make decisions that are sacrificial to himself and his family to keep everyone safe. 
                </p>
                <p>
                    The show tends to end with cliffhangers but that is not something I do not dislike as it keeps me that much more interested in what is to come in the next episodes.
                </p>
            </div>
            <div class="blog-comments" id="blog-comments">
                <button id="comment-btn">Leave A Comment</button>
                <form class="comment-form hide" id="comment-form">
                    <textarea></textarea>
                    <button value="submit" type="submit">Post Comment</button>
                </form>               
               
            </div>
        </div>

    </div>

     <hr>
    <div class="footer">
        <p>Email: Samir.moghul@gmail.com</p>
         <p>Youtube: https://www.youtube.com/channel/UC8xY1RuFCZS-xtiPkiX6_bQ Discord: sammyツ#6854</p>
    </div>

    <script src="../js/blog.js"></script>
</body>
</html>