<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Samir Moghul Portfolio</title>
    <link rel="stylesheet" href="../css/funfact.css" >
</head>
<body>
    <div class="navbar" width="100%" height="100px">
        <div id="my_name"><i class="fab fa-fly"></i> Samir Moghul</div>
        
        
        <p id="nav-menu"><a href="../index.html">Home</a>
            <a href="./my_resume.html">Resume </a>
            <a href="my_fun_facts.html">Fun_facts About Me</a>
            <a href="./my_blog.html">Blog</a>
        </p>
               
        </div>

    <h3 class="header">Some fun facts about me</h3>
    <ul class="list"> 

    <li id="fav-book"><p><b>Favorite book title:</b> Harry Potter and the Deathly Hallows (1 & 2)</p>
    <img src="../img/harry-potter.jpg" width="200px" height= "150px">
     <p style="text-decoration: underline; color: blue"><b class="link-title">Link:</b class="links"> https://www.amazon.com/Harry-Potter-Deathly-Hallows-Book/dp/0545139708</p>
     <b>Description:</b> This is my favorite book title because it is the end of my favorite book series and I really enjoyed the ending as I thought it was really well written and had unexpected turns. 
    </li><br>

    <li>
        <p><b>Favorite audio track:</b> Devil Eyes - Hippie Sabotage</p>
        <audio controls>
            <source src="../audio/Hippie Sabotage - Devil Eyes.mp3" type="audio/mpeg">
            <source src="../audio/Hippie Sabotage - Devil Eyes.mp3" type="audio/ogg">  
        </audio>
        <p  style="text-decoration: underline; color: blue"><b class="link-title">Link:</b > https://www.youtube.com/watch?v=Ywq6FMLbWH4</p>

    </li><br>

    <li>
        <p><b>Favorite TV Series:</b> Squid Game</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/oqxAJKy0ii4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
    </li>

    </ul>
    
     <hr>
    <div class="footer">
        <p>Email: Samir.moghul@gmail.com</p>
         <p>Youtube: https://www.youtube.com/channel/UC8xY1RuFCZS-xtiPkiX6_bQ Discord: sammyツ#6854</p>
    </div>


</body>
</html>