<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Samir Moghul Portfolio</title>
    <link rel="stylesheet" href="../css/resume.css">
</head>
<body>
  <div class="navbar" width="100%" height="100px">
    <div id="my_name"><i class="fab fa-fly"></i> Samir Moghul</div>
    
    
    <p id="nav-menu"><a href="../index.html">Home</a>
        <a href="my_resume.html">Resume </a>
        <a href="./my_fun_facts.html">Fun_facts About Me</a>
        <a href="./my_blog.html">Blog</a>
      </p>
           
    </div>
<div id="resume-body">
    <h3 class="header">Samir Moghul - Resume</h3>
     <p>Email: Samir.moghul@gmail.com. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Address: 1840 Shaker Heights Dr.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone: (XX8) 773-1305</p>  

     <p><b>OBJECTIVE</b> 
       : Current University student looking to obtain a career either in person or online that will be able to use any of my experiences or skills to further my education/career in Information Technology. Planning on completing CCNA, Network+, Hardware+ certifications in the next 12 months. </p>
   
   
     <b>PROFESSIONAL EXPERIENCE</b><br>
   <ul>
   <li><h5>August 2020 - Feb. 2021, IT Intern, Calysto Group, Memphis, Michigan.</h5>
   <b>Job Description</b>: Coordinated with co-workers to assess new client's needs and timeline per urgency and project deadlines. Performing outcalls to client worksites for installations in cameras, phones, computers, tv, etc. Meeting and reviewing vendors or consultants to meet project needs.</li><br> 
   <li><h5>May 2019 - Oct. 2019, IT Tech Intern, Amerilodge Group, Troy, Michigan.</h5>
   <b>Job Description</b>: Set up equipment for employee use, performing or ensuring proper installation of cables, operating systems, or appropriate software. Oversee the daily performance of computer systems. Answer user inquiries regarding computer software or hardware operation to resolve problems. Develop training materials and procedures, or train users in the proper use of hardware or software. Travel to job sites to service machines or to provide emergency repair service. Lay cable and hook up electrical connections between machines, power sources, and phone lines.  Fill machines with toners, inks, or other duplicating fluids. 
</li></ul>

<b>EDUCATIONAL EXPERIENCES</b>
<table BORDER="5"    WIDTH="80%"   CELLPADDING="4" CELLSPACING="3">
    <tr>
      <th>start--end</th>
      <th>Degree</th>
    </tr>
    <tr>
      <td>2012-2015</td>
      <td>Highschool Diploma, Troy Athens High School, Troy, Michigan    </td>
     
    </tr>
    <tr>
      <td>2018-2022</td>
      <td>Computer Science, Oakland Community College, Auburn Hills, Michigan</td>
      
    </tr>
  </table><br>
  
    <b>EXTRACURRICULAR INTERESTS AND HOBBIES</b>
  <p>My hobbies include : </p>
  <ul>
  <li>video games </li>
  <li>playing volleyball </li>
  <li>and editing videos.</li>
  <li>I play a lot of Overwatch and Valorant on PC. </li>
</ul>
</div>


     <hr>
    <div class="footer">
        <p>Email: Samir.moghul@gmail.com</p>
         <p>Youtube: https://www.youtube.com/channel/UC8xY1RuFCZS-xtiPkiX6_bQ Discord: sammyツ#6854</p>
    </div>


</body>
</html>